// Global styles for Vivarium Salon

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $background-color;
}

// Add your global styles here

img[src$="vivariumlogo.png"],
img[src$="vivariumlogo.jpg"] {
  opacity: 0.9;
}
